*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height:100vh;
    background: black;
}
